

/* ==========================================================================
   custom styles
   ========================================================================== */
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe/segoeui.ttf');
    font-weight: 500;
}   
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe/segoeuisl.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe/segoeuil.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe/segoeuib.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe/segoeuili.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
	font-family: 'Abril';
    src: url('../fonts/abril/AbrilFatface-Regular.ttf');
}

body,html{
	font-family: 'Segoe UI';
}
html{
	overflow: hidden;
}
/*typed effect*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*custom*/
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
	background-color: transparent;
	border:1px solid black;
}
.section{
	/*padding:12px;*/
}
.typed-text{
	/*margin-top: -24px;*/
	font-size: 48px;
	font-family: 'Abril';
	font-weight: 100;
	color:white;
}
.fp-tableCell{
	vertical-align: top;
}
.p-t-b-60{
	/*padding:60px 30px;*/
	height: 100%;
	position: relative;
}
.main{
	background-size: cover;
	background-color: #111;
}
strong{
	font-weight: 500;
}
.hi{
	margin-bottom: 18px;
}
.typed-text{
	display: none;
}
nav.navbar-default{
	background-color: transparent!important;
	background-image: none;
	box-shadow: none;
	border: none;
	z-index: 1000;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg) translateX(-100%);
    -ms-transform-origin: 50% 100%; /* IE 9 */
    -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
    transform-origin: left top;
}
.navbar-collapse.collapse{
	display: flex!important;
	justify-content: center;
}
.navbar-right{
	float:none!important;
	display: inline-block;
	margin-right:0;
	margin-top: 24px;
	position: relative;
}
.v-a-c{
	display: flex;
	align-items:center;
	height: 100%;
}
.view-resume{
	background-color: transparent;
	min-width: 162px;
	height: 48px;
	border-radius: 800px;
	border:2px solid #777;
	padding:13px!important;
	transition:all 0.3s;
	color:#777!important;
}
.view-resume:hover{
	border-color:transparent;
	background-color: #333!important;
	color:#fff!important;
	transition:all 0.3s;
}
.small-text-cap{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}
.navbar-right li:hover{
	cursor: pointer;
	/*margin-right: 30px;*/
}
.work{
	background-color: #fafafa;
}
.work .slide-main .fp-tableCell{
	vertical-align: middle;
}
.heading{
	font-size: 36px;
	color:#777;
}
hr{
	width: 30px;
	border: 2px solid #777;

}
.about-text{
	width: 600px;
	margin:30px auto;
	line-height: 24px;
	font-weight: 300;
	font-size: 16px
}
.img{
	margin: 0px auto;
	margin-top:96px;
	margin-bottom: 30px;
	width:150px;
	height: 150px;
	border-radius: 100%;
	overflow: hidden;
}
.main-img{
	width: 200px;
	height: 200px;
	margin-top: -40px;
}
.work-img{
	width:100%;
}
.work{
	padding: 0px;
}
.work-div{
	width: 70%;
	height:300px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0 9px 11px -5px rgba(0,0,0,.2),0 18px 28px 2px rgba(0,0,0,.14),0 7px 34px 6px rgba(0,0,0,.12);
	position: relative;
	cursor: pointer;
}
.pos-abs{
	position: absolute;
}
.img-back{
	-webkit-filter: blur(20px); /* Chrome, Safari, Opera */
	-moz-filter:blur(20px);
    filter: blur(20px);
    height: 103%;
    width: 130%;
    opacity: 0.8;
    background-size: cover;
    position: relative;
    margin:-40px;
}
.fp-scrollable{
	position: relative;
}
.w-h{
	width: 100%;
	height: 100%;
}
.o-h{
	overflow: hidden;
}
.p-r{
	position: relative;
}
.h-100{
	height: 100%;
}
.m-t-20{
	margin-top: 20px;
}
.proj-head{
	margin-top: 30px;
	color: #777;
	margin-right: 10px;
}
.proj-head:hover{
	color:#aaa;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.proj-details{

	margin:20px 0; 
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}
.f-w-l{
	font-weight: 300;
}
.sp-txt{
	border-left: 2px solid #777;
	padding-left: 20px;
}

.f-36{
	font-size: 36px;
}
.overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	display: none;
}
.overlay-btn{
	color: #fff!important;
	font-size: 36px!important;
}
.overlay-btn:hover{
	color:#ddd!important;
}
.m-r-10{
	margin-right: 10px;
}
.center{
	margin: 0 auto;
}
@media(min-width:768px){
	.work-container{
		padding: 60px;
	}
	.work-details{
	padding-left: 40px;
	}
	.fp-controlArrow{
		display:block!important;
	}
	.typed-text{
		margin-left: 64px;
	}
	.menu-mob{
		display: none;
	}
}

.navbar-collapse.in, .navbar-collapse.collapsing{
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	width: 30%;
	border-radius: 4px;
	position: absolute;
	right: 70px;

}
.navbar-toggle{
	border: none;
	background-color: transparent!important;
}

.navbar-toggle:hover{
	background-color: transparent!important;
}
.m-0{
	margin: 0;
}
.work-1{
	background-image: url('../img/work-1.png');
}
.work-2{
	background-image: url('../img/work-2.png');
}
#preloader  {
	z-index: 2000;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #fefefe;
    display:flex;
    justify-content:center;
    align-items:center;
}
#status  {
    
 }
.fp-controlArrow{
	border: none;
	width: auto;
	height: auto;
	font-size: 24px;
	color:#333;
}
.work-details, .disp-vert{
	height: 100%;
	display: flex;
	align-items: center;
}
.w-i-p{
	margin: 0 auto;
	font-size: 42px;
	font-weight: 100;
}
.tag{
	padding: 5px 10px;
	background-color: #eee;
	border-radius: 4px;
	margin: 4px;
	display: inline-block;
}
.tags{
}
.social-icon{
	margin:10px;
	color:#111;
}
.social-icon:hover{
	color:#333;
}
.m-t-40{
	margin-top: 40px;
}
/*.contact{
	background-image: url("../img/footer-02.png");
	background-size: contain;	
	background-position: bottom;
	background-repeat: no-repeat;
}*/
.scroll-more{
	position: absolute;
	color: white;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 20px;
}
.scroll-more a{
	color:white;
}
.scroll-more a:focus, .scroll-more a:hover{
	text-decoration: none;
}
.logo{
	width: 50px;
	display: block;
	margin:40px auto;
}
.p-0{
	padding: 0!important;
}
.white.navbar-nav>li>a:hover, .white.navbar-nav>li>a:focus{
	color: #fff;
}
.white.navbar-nav>li>a.active{
	color:#fff;
}
.navbar-nav>li>a.active{
	color:#333;
}
.navbar-nav>li{
	width:72px;
	text-align: right;
}
.bar{
	top:12px;
	position: absolute;
	width:15px;
	height: 3px;
	margin-right:15px;
	margin-left: 15px;
	background-color: #ED2;
	display: none;
}

.gallery-cell {

	-webkit-box-shadow: 0 12px 22px -10px #777;
       -moz-box-shadow: 0 12px 22px -10px #777;
            box-shadow: 0 12px 22px -10px #777;
    width: 40%;
    min-width: 260px;
	height: 400px;
	margin:2% 2% 2% 0;
	background: #fff;
	transform: scale(0.7);
	/*filter: blur(10px);*/
	transition: transform 0.4s, opacity 0.4s;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*filter: blur(10px);*/
	opacity: 0.2;
}
.gallery-cell.is-selected {
 	border-top:8px solid #ED2;
 	/*filter: blur(0);*/
 	z-index: 100;
 	transform: scale(1);
 	opacity: 1;
 	/*filter: blur(0);*/
}

#element{
	color:#ED2;
}
.card-header{
	transform: all 0.3s;
	padding:8px 32px;
	font-family: "Abril";
	font-size: 64px;
	cursor: pointer;
	/*color:#111;*/
	transition: color 0.3s;
}
.card-sub-header{
	padding:8px 32px 16px 32px;
}
.card-sub-header span{
	background-color: #eee;
	padding: 4px 8px;
	color:#777;
}
.card-header:hover{
	color:rgba(0,0,0,0.7);
}
.card-text{
	font-weight: 500;
	padding: 0px 32px 32px;
	color:#777;
}

@media(max-width: 500px){
	.gallery-cell{
		width: 100%;
	}
	.flickity-prev-next-button{
		display: none;
	}
}
.flickity-viewport{
	overflow: visible;
}
.slide{
	overflow: hidden;
}
.back{
	font-size:21px;
	transition: all ease-in-out 0.7s;
}
.back a{
	color:#777;
}
.details{
	/*min-height: 500px;*/
}
.details-container{
	padding: 4% 8%;
}
.details-title, .details-title:visited{
	font-family: "Abril";
	/*margin:0;*/
	font-size: 64px;
	padding:8px 0;
	margin-top: 8px;
	display: inline-block;
	color:#111;
	text-decoration: none;
}
.details-title:hover{
	color:#333;
}
.details-sub{
	margin-top: 8px;
	margin-bottom: 16px;
}
.details-body{
	/*padding: 8px 0;*/
}

.details-body p{
	margin-top:16px;
}

.prettyprint{
	margin: 16px 0;
	border:none!important;
	padding:16px!important;
}
.details-hidden{
	display: none;
}
.arrow.left{
	width: 16px;
	height: 26px;
	overflow: hidden;
	display: inline-block;
}
.arrow.left img{
	width: 16px;
}
.skills-sub{
	background-color: #111;
	color:#fff;
}
.about-sub{
	background-color: #ED2;	
}
.p-16{
	padding: 16px;
}
.c-al{
	display: flex;
	align-items: center;
	height: 100%;
}
.skill-div, .about-div{
	margin-bottom:40px;
}
.about-sub{
	color:#111;
}
.mail{
	color:#333;
	text-decoration: underline;
}
.mail:hover{
	color:#444;
	text-decoration: underline;	
}
.menu-mob{
	position: fixed;
	top:16px;
	right:16px;
	z-index: 1000;
}
.menu-mob-btn{
	background-color: transparent;
	border: 0;
	box-shadow: none;
	color: #fff;
}
.menu-mob-open{
	position: fixed;
	right: -3px;
	top:-3px;
	left:-3px;
	bottom: -3px;
	background-color: rgba(0,0,0,0.97);
}
.menu-mob.open .menu-mob-open{
	display: flex;
	align-items: center;
}
.menu-mob-open li{
	text-align: center;
	padding: 16px 8px;
	border-bottom: 1px solid #ED2;
}
.menu-mob-open li a{
	color:#fff;
}
.menu-mob-open li:last-child{
	border-bottom: none;	
}
.for-flex{
	width: 100%;
}
.showreel img {
  height: 200px;
  margin-top: 8px;
}
.showreel .flickity-viewport{
	overflow: hidden;
}
.image-bg{
	position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2000;
    background-color: rgba(0,0,0,0.6);
    display: none;
}
.full-img{
	z-index: 100;
}
.full-img img{
	width: 70%;
}
.full-img-rep{
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
}
.view-gallery{
	cursor: pointer;
}
.image-bg-center{
	display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.details-sub-d{
	text-align: justify;
    text-justify: inter-word;
}
@media(max-width: 768px){
	.menu-mob{
		display: block;
	}
	.work-container{
		padding: 0;
	}
	.container{
		width: 100%;
	}
	.about-text{
		width: 100%;
	}
	.img{
		margin-top: 48px;
	}
	.fp-controlArrow{
		display: none;
	}
	.slide.p-r{
		padding: 10px;
	}
	.fp-controlArrow{
		display:none!important;
	}
	.card-header{
		padding:8px!important;
		font-size:48px!important;
	}
	.card-text{
		padding:8px!important;
	}
	.set-w{
		width: calc(100% - 32px);
	}
	.typed-text{
		font-size: 36px;
		text-align: center;
		margin: 0 auto;
	}
	.details-container{
		padding: 8px;
	}
	.card-sub-header{
		padding: 8px;
	}
	.gallery-cell{
		padding: 8px;
	}
	.details-title, .details-title:visited{
		font-size: 48px;
	}
	.view-gallery{
		display: none;
	}
}