

/* ==========================================================================
   custom styles
   ========================================================================== */
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe/segoeui.ttf');
    font-weight: 500;
}   
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe/segoeuisl.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe/segoeuil.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe/segoeuib.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe/segoeuili.ttf');
    font-weight: 300;
    font-style: italic;
}
body,html{
	font-family: 'Segoe UI';
}
/*typed effect*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*custom*/
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
	background-color: transparent;
	border:1px solid black;
}
.section{
	padding:12px;
}
.typed-text{
	margin-top: -24px;
	font-size: 36px;
	font-family: 'Segoe UI';
	font-weight: 100;
	color:white;
}
.fp-tableCell{
	vertical-align: top;
}
.p-t-b-60{
	/*padding:60px 30px;*/
	height: 100%;
	position: relative;
}
.main{
	background-size: cover;
	background-image: url('../img/bg.jpg')
}
strong{
	font-weight: 500;
}
.hi{
	margin-bottom: 18px;
	font-size: 84px;
}
.typed-text{
	display: none;
}
nav.navbar-default{
	background-color: transparent!important;
	background-image: none;
	box-shadow: none;
	border: none;
	padding: 36px;
}
.v-a-c{
	display: flex;
	align-items:center;
	height: 100%;
}
.view-resume{
	background-color: transparent;
	min-width: 162px;
	height: 48px;
	border-radius: 800px;
	border:2px solid #777;
	padding:13px!important;
	transition:all 0.3s;
	color:#777!important;
}
.view-resume:hover{
	border-color:transparent;
	background-color: #333!important;
	color:#fff!important;
	transition:all 0.3s;
}
.small-text-cap{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}
.navbar-right li{
	margin-right: 30px;
}
.about{
	background-color: #ffffff;
}
.heading{
	font-size: 36px;
	color:#777;
}
hr{
	width: 30px;
	border: 2px solid #777;

}
.about-text{
	width: 600px;
	margin:30px auto;
	line-height: 24px;
	font-weight: 300;
	font-size: 16px
}
.img{
	margin: 0px auto;
	margin-top:96px;
	margin-bottom: 30px;
	width:150px;
	height: 150px;
	border-radius: 100%;
	overflow: hidden;
}
.main-img{
	width: 200px;
	height: 200px;
	margin-top: -40px;
}
.work-img{
	width:100%;
}
.work{
	padding: 0px;
}
.work-div{
	width: 70%;
	height:300px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0px 0 20px rgba(0,0,0,0.6);
	position: relative;
	cursor: pointer;
}
.pos-abs{
	position: absolute;
}
.img-back{
	background-image: url('../img/work-1.png');
	-webkit-filter: blur(20px); /* Chrome, Safari, Opera */
	-moz-filter:blur(20px);
    filter: blur(20px);
    height: 103%;
    width: 130%;
    opacity: 0.8;
    background-size: cover;
    position: relative;
    margin:-40px;
}
.fp-scrollable{
	position: relative;
}
.w-h{
	width: 100%;
	height: 100%;
}
.o-h{
	overflow: hidden;
}
.p-r{
	position: relative;
}
@media(min-width:768px ){
.work-container{
	padding: 60px;

}
}
.h-100{
	height: 100%;
}
.m-t-20{
	margin-top: 20px;
}
.proj-head{
	margin-top: 30px;
	color: #777;
	margin-right: 10px;
}
.proj-head:hover{
	color:#aaa;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.proj-details{

	margin:20px 0; 
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}
.f-w-l{
	font-weight: 300;
}
.sp-txt{
	border-left: 2px solid #777;
	padding-left: 20px;
}

.f-36{
	font-size: 36px;
}
.overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	display: none;
}
.overlay-btn{
	color: #fff!important;
	font-size: 36px!important;
}
.overlay-btn:hover{
	color:#ddd!important;
}
.m-r-10{
	margin-right: 10px;
}
.center{
	margin: 0 auto;
}